.article {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.article.inline {
  display: block;
}

.article.small {
  width: 100%;
  min-height: 75px;
}

.article:first-of-type {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.content {
}

.article.small .content {
  position: absolute;
  left: -9999px;
}

.innerContent {
  padding: 2rem;
}

.article.feed .innerContent {
  padding: 1rem;
}

.article a {
  color: #fff;
}

.article .list {
  padding-left: 30px;
  margin: 1em 0;
}

.article .list .listitem {
  margin-bottom: 8px;
}

@media (min-width: 600px) {
  .content {
    flex: 1;
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .innerContent {
    padding: 1rem;
  }
}
