.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem;
}

.galleryItem {
  flex: 1 1 30%;
  margin: 0.3rem;
}

.galleryItem:first-of-type,
.galleryItem:last-of-type {
  flex: 1 1 50%;
  margin: 0.6rem;
}

@media (max-width: 768px) {
  .gallery {
    justify-content: auto;
    padding: 0;
    background-color: #000;
    padding: 0.3rem;
  }
  .galleryItem {
    margin: 0 0 0.3rem 0 !important;
    flex: 1 1 100% !important;
  }
  .galleryItem:last-child {
    margin-bottom: 0 !important;
  }
}
