.header {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-areas: 'logo nav';
  grid-area: header;
  background-color: #222;
  position: sticky;
  top: 0;
  z-index: 99;
}

.headerText {
  position: absolute;
  left: -9999px;
}

.headerLogo {
  grid-area: logo;
  align-self: stretch;
  display: block;
}
