.header {
  display: flex;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #222;
  padding: 0 1rem;
}

.headerTitle .headerText {
  position: absolute;
  left: -9999px;
}

.headerLogo {
  display: flex;
  height: 100px;
  flex-direction: column;
  min-width: 70px;
}
