.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #222;
  padding: 0 1rem;
  display: flex;
  min-height: 100px;
}

.headerTitle .headerText {
  position: absolute;
  left: -9999px;
}

.headerLogo {
  height: 100px;
  flex-grow: 1;
}
