.image {
  display: flex;
  flex: 0 0 40%;
}

.inline {
  flex: 1 1 30%;
  min-width: fit-content;

  img {
    object-fit: cover;
  }
}

.small {
  display: inline-flex;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .image {
    flex: 1 1 100%;
  }
}
@media (min-width: 768px) {
  .inline {
    max-width: 50%;
  }
}
