.image {
  display: flex;
}

.inline {
  flex: 1;
}

.block {
  flex: 2;
}

.small {
  display: inline-flex;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .inline {
  }
  .block {
    flex-basis: 100%;
  }
}
