.image {
}

.image.inline {
  display: inline-flex;
}

.image.block {
  display: block;
  flex: 1;
}

.image.small {
  display: block;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .image.block {
    flex-basis: 100%;
  }
}
