.container {
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bodyContent {
  padding: 7rem 1rem 0;
}

.article {
  color: #555;
  width: 100%;
}

.section {
  height: 30vh;
}
