.newsListItem {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.35);
  max-width: 30%;
  min-width: 320px;
}

@media (max-width: 600px) {
  .newsListItem {
    max-width: 500px;
  }
}

.newsListItem a {
  display: block;
  width: 100%;
}

.heading {
  font-weight: 600;
  font-size: 1rem;
}

.summary p {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin: 0.1rem;
  padding: 0;
  color: #2f4f4f;
}

.shortText,
.shortText p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
