.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list.feed {
  flex-direction: column;
}

.list.rows {
}

.list.small {
  flex-direction: row;
  margin: 0 1rem;
}
