.item {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
  box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.35);
  max-width: 30%;
  margin-bottom: 1rem;
}

.item.small {
  width: 20vw;
  padding: 0.2rem;
  max-width: 200px;
}

.item .link {
  display: block;
  width: 100%;
}

.heading {
  font-weight: 600;
  font-size: 1rem;
}

.summary p {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 0.9rem;
  margin: 0.1rem;
  padding: 0;
  color: #2f4f4f;
}

.shortText,
.shortText p {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .item {
    max-width: 45%;
  }

  .item.rows {
    max-width: 45%;
    padding: 0.2rem;
  }
}
@media (max-width: 500px) {
  .item {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
