.markdown {
  color: rgba(41, 43, 45, 0.9);
  display: inline;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.markdown.default {
}

.markdown.article {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.markdown.summary {
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 0;
  margin-bottom: 1rem;
}

.markdown.large {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.markdown.footnote {
  font-size: 0.8rem;
}

.markdown.link {
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(41, 43, 45, 1);
  color: rgba(255, 255, 255, 0.9);
}

.markdown p {
  padding: 0 0 0.5rem 0;
}
