.nav {
  flex: 1;
  padding: 0;
  flex-basis: auto;
  min-width: 340px;
}

.navList {
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  padding: 0;
}

.navItem {
  display: inline-flex;
  color: #1ea7fd;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navItem:hover {
  border-bottom: 1px solid #fff;
}

.navActive {
  font-weight: 600;
  color: #fff;
  border-bottom: 1px solid #fff;
}

/* Media Query for Desktop/Landscape Devices */

/* Small screens */
@media all and (max-width: 600px) {
  .navList {
    /* On small screens, we are no longer using row direction but column */
    /*flex-direction: column;
    max-width: 50vw;*/
    font-size: small;
  }

  .navItem {
    padding: 0.5rem;
  }
}
