.nav {
  grid-area: nav;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navList {
  flex: 1;
  display: flex;
}

.navItem {
  flex: 1;
  color: #1ea7fd;
  text-decoration: none;
  padding: 0 0.5rem 0.2rem 0rem;
  margin: 0 1rem;
  text-align: center;
}

.navItem:hover {
  border-bottom: 1px solid #fff;
}

.navActive {
  font-weight: 600;
  color: #fff;
  border-bottom: 1px solid #fff;
}

@media (max-width: 600px) {
  .navItem {
    padding: 0;
    margin: 0 0.5rem;
  }
}
