.news-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.news-item {
  min-height: 4rem;
  border: 1px solid #ccc;
  display: inline-flex;
  max-width: 30vw;
  padding: 1em;
  border-radius: 5px;
}

.newsItemImage {
}

.home-feed .news-item {
  max-width: 50vw;
}
