.detail {
}

.detail .image {
  max-width: 900px;
}

.content {
}

.iframe {
  border: 0;
  width: 80%;
  height: 120px;
}

@media (max-width: 768px) {
  .iframe {
    width: 100%;
  }
}
